.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco);
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__botao {
  display: none;
}

.cabecalho__menu--hamburguer {
  width: 35px;
  height: 50px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu--hamburguer {
  background-image: url("../img/MenuAberto.png");
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-degrade);
}

.container__imagem {
  padding: 0.5em;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 30vh;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 0.8em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .cabecalho__menu--hamburguer {
    display: none;
  }

  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    display: block;
  }

  .container__titulo {
    display: flex;
    font-weight: 400;
    width: 300px;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    height: 50px;
    align-items: center;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    text-decoration: none;
    color: black;
  }

  .container__imagem-transparente {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo>.opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .opcoes__item {
    padding: 2em 1em;
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

}

.container__texto {
  display: none;
}

@media screen and (min-width: 1728px) {
  .container__imagem {
    margin-left: 2em;
  }

  .container {
    margin-right: 2em;
  }

  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }

  .lista-menu__item:hover {
    background-color: var(--azul-degrade);
  }

  .lista-menu__link:hover {
    background: var(--branco);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
